<h1>Cart</h1>

<% if @cart_items.any? %>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% total_price = 0 %>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.product.product_name %></td>
          <td>
            <%= form_with url: cart_path(product_id: cart_item.product.id), method: :patch, local: true do %>
              <%= number_field_tag :quantity, cart_item.quantity, min: 1 %>
              <%= submit_tag 'Update' %>
            <% end %>
          </td>
          <td><%= number_to_currency(cart_item.product.price) %></td>
          <td><%= number_to_currency(cart_item.product.price * cart_item.quantity) %></td>
          <% total_price += cart_item.product.price * cart_item.quantity %>
          <td>
            <%= button_to 'Remove', cart_path(product_id: cart_item.product.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="total-price">
    <h2>Total Price: <%= number_to_currency(total_price) %> <%= button_to 'Buy Now' %></h2>
  </div>

<% else %>
  <p>Your cart is empty.</p>
<% end %>

<%= link_to 'Back to products', products_path %>
