<h1>New Product</h1>
<%= form_with model: @product, local: true do |form| %>
 <div>
     <%= form.label :product_name %>
     <%= form.text_field :product_name %>
   </div>
   <div>
     <%= form.label :description %>
     <%= form.text_area :description %>
   </div>
   <div>
     <%= form.label :price %>
     <%= form.number_field :price %>
   </div>
   <%= form.submit 'update Product' %>
<% end %>
<%= link_to 'Back', products_path %>